<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 align="center"class="display-3"><span matTooltip="annoter moi!">UQO-Annotator</span></h1>
          <p>Le projet Annotator est un projet Universitaire réalisé dans le cadre du cours "Développement des systèmes informatiques" à <span matTooltip="Gatineau,Qc,Canada">l'Université du Québec en Outaouais</span> (UQO). Trois groupes travaillent en parallèle sur le même projet, le titre du dépôt "Annotator1" fait référence au groupe de travail numéro 1 qui travaille sur ce projet.</p>
          <p align="center"><a class="btn btn-primary btn-lg" [routerLink]="['/search']" role="button">Chercher un projet »</a></p>
          <p align="center"><a class="btn btn-lg btn-success" href="https://github.com/iglewski/Annotator1" role="button">GitHub</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Annotator</h2>
            <p>Le logiciel Annotator est un logiciel qui sera disponible sur internet à partir d'un navigateur Web. Il permet d'annoter des textes et des groupements de textes (Corpus). </p>
            <p><a class="btn btn-secondary" href="https://github.com/iglewski/Annotator1" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Fonctionnalités</h2>
            <p>L'application UQO-annotator permettra de modifier des fichiers .xmi avec annotations produites par l'outil cTakes (exemple d'un fichier produit par cTakes) ou annoter des fichiers texte. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Domaine</h2>
            <p>L’application n’est pas réservée à un seul domaine - elle sera utile dans multiples contextes où l’utilisation des annotations est nécessaire. En particulier, elle s’intègre bien dans un contexte de recherche et d’apprentissage à partir de textes écrits. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
