<h4>Nouvelle Catégorie</h4>
<mat-form-field>
  <input matInput class="nomCategorie" placeholder="Nom">
</mat-form-field>
<p><mat-form-field>

    <!--<div *ngFor="let each of generateArray(item.categories)">-->
    <mat-select placeholder="Couleur">
      <!--<div  *ngFor="let item of model | async">
        <div *ngFor="let each of getAllowedColours(item)">
        </div>
      </div>-->
      <div *ngFor="let item of colorList">
        <mat-option value={{item.couleur}}>{{item.nom}}</mat-option>
      </div>

      <!--
      <mat-option value="bleu">Bleu</mat-option>
      <mat-option value="rouge">Rouge</mat-option>
      <mat-option value="jaune">Jaune</mat-option>
      <mat-option value="vert">Vert</mat-option>
      <mat-option value="violet">Violet</mat-option>
      <mat-option value="orange">Orange</mat-option>
      <mat-option value="gris">Gris</mat-option>
      <mat-option value="turquoise">Turquoise</mat-option>-->
    </mat-select>
</mat-form-field></p>
<button [mat-dialog-close]>Ajouter la catégorie</button>
<button [mat-dialog-close]>Annuler</button>
