<h4>Nouvelle Catégorie</h4>
<mat-form-field>
  <input matInput class="nomCategorie" placeholder="Nom">
</mat-form-field>
<p><mat-form-field>
    <mat-select placeholder="Couleur">
      <mat-option value="bleu">Bleu</mat-option>
      <mat-option value="rouge">Rouge</mat-option>
      <mat-option value="jaune">Jaune</mat-option>
      <mat-option value="vert">Vert</mat-option>
      <mat-option value="violet">Violet</mat-option>
      <mat-option value="orange">Orange</mat-option>
      <mat-option value="gris">Gris</mat-option>
      <mat-option value="turquoise">Turquoise</mat-option>
    </mat-select>
</mat-form-field></p>

<p><button mat-button>Ajouter la catégorie</button></p>
