<div class="titre">
  <h2>Extraire titre du projet ici!</h2>
</div>
<div class="corpus">
  <h3>Corpus</h3>
  Affichage de la liste des textes (boutons?)
 <button mat-raised-button>Ajouter un texte</button>
  <!--
  <form name = corpus #f="ngForm">
   <button [button] = "gestCorpus" class = "" name="corpus">Gerer le corpus</button>
 </form>
-->
  Bouton ajouter un texte
  <h3>Membres</h3>
  Affichage de la liste des usagers associes au projet
  Bouton gestion des usagers
  <h3>Categories</h3>
  Affichage des categories dans leurs couleurs respectives
  Bouton gestion des categories
  <!--
  <form name="corpus" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>
      <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
  </form>
</div>-->
