<div class="titre">
  <h2>Extraire titre du projet ici!</h2>
</div>

<div class="column" >
<mat-card >
    <mat-toolbar><h3>Corpus</h3></mat-toolbar>
    <mat-card-content>
     <mat-list>
      <mat-list-item>Texte1</mat-list-item>
      <mat-list-item>Texte2</mat-list-item>
      <mat-list-item>Texte3</mat-list-item>
     </mat-list>
    <p><button mat-button  >Ajouter un texte</button></p>
  </mat-card-content>
</mat-card>
</div>

<div class="column">
  <mat-card >
    <mat-toolbar><h3>Membres</h3></mat-toolbar>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Membre1</mat-list-item>
        <mat-list-item>Membre2</mat-list-item>
        <mat-list-item>Membre3</mat-list-item>
      </mat-list>
      <p><button mat-button>Ajouter un membre</button></p>
    </mat-card-content>
  </mat-card>
</div>

<!--
<div class="categories">
  <mat-card>
    <mat-toolbar><h3>Categories</h3></mat-toolbar>
    <mat-card-content>
      <mat-grid-list cols="7" rowHeight="2:1">
        <mat-grid-tile>categorie 1</mat-grid-tile>
        <mat-grid-tile>categorie 2</mat-grid-tile>
        <mat-grid-tile>categorie 3</mat-grid-tile>
        <mat-grid-tile>categorie 4</mat-grid-tile>
        <mat-grid-tile>categorie 5</mat-grid-tile>
        <mat-grid-tile>categorie 6</mat-grid-tile>
        <mat-grid-tile>categorie 7</mat-grid-tile>
        <mat-grid-tile>categorie 8</mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
-->
