<main flex>
<div class="titre">
  <h2>Vous êtes connectés au projet <strong>{{currentProjet}}</strong></h2>
</div>

<div class="column" >
<mat-card >
    <mat-toolbar><h3>Corpus</h3></mat-toolbar>
    <mat-card-content>
      <div  *ngFor="let item of model | async">
        <div *ngFor="let each of generateArray(item.Corpus)">
          <mat-nav-list (click)=selectTitre(each.value) [routerLink]="['/annotation']">
            <mat-list-item >{{each.value}}</mat-list-item>
          </mat-nav-list>
        </div>
      </div>

    <p><button mat-button (click)="openCorpusDialog()">Ajouter un texte</button></p>
  </mat-card-content>
</mat-card>
</div>

<div class="column">
  <mat-card >
    <mat-toolbar><h3>Membres</h3></mat-toolbar>
    <mat-card-content>
      <mat-list>
        <div  *ngFor="let item of model | async">
          <div *ngFor="let each of generateArray(item.Annotateurs)">
            <mat-list-item>{{each.value}}</mat-list-item>
          </div>
        </div>
      </mat-list>
    <!--  <div *ngIf="currentUserTrue(item.admin)">-->
      <p><button mat-button [routerLink]="['/roles']">Gérer les membres</button></p>
  <!--  </div>-->
    </mat-card-content>
  </mat-card>
</div>

<div class="column">
  <mat-card >

    <mat-toolbar>
      <h3>Catégories</h3>
    </mat-toolbar>

    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="2:1">
        <div  *ngFor="let item of model | async">
          <div *ngFor="let each of generateArray(item.categories)">
            <mat-grid-tile [ngStyle] = "{'background-color': each.value.couleur}">{{each.value.titre}}</mat-grid-tile>
          </div>
        </div>
      </mat-grid-list>
      <button mat-button (click)="openCategoriesDialog()">Ajouter une catégorie</button>
    </mat-card-content>
  </mat-card>
</div>

</main>
