<div class="column" >
  <mat-card >
    <mat-card-content >
      <mat-toolbar color="primary"><h3>Mes projets</h3></mat-toolbar>
      </mat-card-content>
    </mat-card>
    <br>
        <div  *ngFor="let item of model | async">
          <div *ngFor="let each of generateArray(item.Annotateurs)">
            <mat-nav-list (click)="select(item.titre)" [routerLink]="['/projet']" *ngIf="currentUserTrue(each.value)">

              <mat-card >
                <mat-list-item>
                <a matLine >{{item.titre}}</a>
                <div *ngIf="currentUserTrue(item.admin)">
                 <button color="primary" mat-icon-button (click)="select(each.titre)" [routerLink]="['/projet']">
                   Modifier
                 </button>
                </div>
             </mat-list-item>
           </mat-card >
           </mat-nav-list>
         </div>
      </div>
</div>
