mat-list-item {
    width: 100%;
}
p {
    width: 60%;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    /* position: relative; */
    padding: 0px;
    border-radius: 2px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    /* position: relative; */
    padding: 0px;
    border-radius: 2px;
}
