/* Layout */

.container {
  display: grid;
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  grid-column: 2;
  grid-row: 4;
}
article {
  grid-column: 3;
  grid-row: 4;
}

mat-drawer {
    width: 420.5px;
}
mat-drawer-content {
    width: 70%;
}
/* Decoration */
.example-container {
  height: 500px;
}
* {box-sizing: border-box}
body {
	margin: 20px;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.2em;
}
.container {
	background: beige;
	margin-bottom: 2em;
}
div, nav, section, article, aside, header, footer {
	padding: 10px;
	color: #fff;
}
nav {
	background: dodgerblue;
}
section {
	background: hotpink;
}
article {
  background: orange;
}
aside {
  background: olivedrab;
}

div:nth-of-type(3) {
	background: olivedrab;
}
div:nth-of-type(4) {
	background: hotpink;
}
div:nth-of-type(5) {
	background: slategray;
}

h1 {
	margin: 0 0 1em;
	color: #345;
	text-align: center;
  font-family: georgia, "trebuchet ms", arial, serif;
}
